
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    background-image: url('/images/fondo1.jpeg');
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.text-index{
    font-size: large;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Encabezado */
header {
    background-color: #0077b6;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

/* Barra de navegación */
.navbar {
    background-color: #005691;
    text-align: center;
    padding: 10px;
    
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-size: 18px;
}

.navbar a.active {
    font-weight: bold;
    color: #fff;
}

.navbar a:hover {
    background-color:blueviolet;
    color: black;
  }


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Encabezado */
header {
    background-color: #0077b6;
}

.main-historia{
    color: #ddd;
}
